.burger-menu{
    width: 3em;
    height: 3em;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 6.35em;
    right: 1.8em;
    border: none;
    outline: none;
    display: none;
}

.burger-menu span{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.9em;
    height: 0.27rem;
    background-color: #FFF;
    border-radius: 0.4em;
    transition: 0.15s all ease-in-out;
}

.burger-menu span:after{
    content: '';
    position: absolute;
    top: -0.8em;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 3em;
    height: 0.27rem;
    background-color: #FFF;
    border-radius: 0.4em;
    transition: 0.15s all ease-in-out;
}

.burger-menu span:before{
    content: '';
    position: absolute;
    top: 0.8em;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 3em;
    height: 0.27rem;
    background-color: #FFF;
    border-radius: 0.4em;
    transition: 0.15s all ease-in-out;
}

.burger-menu.active{
    position: fixed;
    z-index: 1001;
}

.burger-menu.active span{
    background-color: var(--main-red-color);
}

.burger-menu.active span:after{
    width: 2.2em;
    left: 1.1em;
    background-color: var(--main-red-color);
}

.burger-menu.active span:before{
    width: 2.2em;
    left: 1.1em;
    background-color: var(--main-red-color);
}
