.footer{
    margin: 15em 0em 0em 0em;
    overflow: hidden;
}

.contact-us-btn{
    font-size: 3em;
    background-color: var(--main-navbar-color);
    color: #FFF;
    border: solid 0.2em transparent;
    border-radius: 0.15em;
    width: 100%;
    padding: 0.8em 0em;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 2em;
}

.privacy-policy__paragraph{
    text-align: center;
    font-size: 1.6em;
    color: #2a2a2a;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-bottom: 1em;
}

.contact-us__info-col{
    background-color: var(--main-navbar-color);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 20em 0em 17.5em 0em;

}

.contact-us__form-col{
    display: flex;
    justify-content: flex-end;
}

.contact-us__form-col form{
    width: 100%;
}

.contact-us__info-col a{
    color: #FFF;
    font-size: 2.5em;
    line-height: 1.35em;
    font-weight: 400;
    
}


.contact-us__info-col img{
    margin: 0 auto;
    width: 3.2em;
}

.contact-us__form-col{
    padding-right: 5.2em;
}