/* WHO WE ARE SECTION */

.who-we-are__img-container{
    margin-top: 12rem;
    position: relative;
    padding-bottom: 47rem;
}

.who-we-are{
    padding-right: 0rem;
}

.who-we-are__img-container img{
    position: absolute;
    max-width: 30rem;
    height: auto;
    top: 0;
}

.contact-us__info-col{
    margin: 0 auto;
}

.who-we-are__img-container img:nth-child(1){
    left: 0;
}

.who-we-are__img-container img:nth-child(2){
    left: 19%;
}

.who-we-are__img-container img:nth-child(3){
    left: 38%;
}

.who-we-are__img-container img:nth-child(4){
    left: 54%;
}

/* MASONRY GALLERY */



.masonry-gallery__col{
    display: flex;
    flex-direction: column;
}

.masonry-gallery__col img{
    flex-grow: 1;
    max-height: 70em;
}

.masonry-gallery__title{
    font-size: 4.6em;
    font-family: 'Berlin Sans Bold', sans-serif;
}

.masonry-gallery__description{
    font-size: 2.6em;
    line-height: 1.9em;
    padding-bottom: 0.8em;
}

.masonry-gallery__col:nth-child(1) .masonry-gallery__title {
    color: var(--main-navbar-color);
}

.masonry-gallery__col:nth-child(2) .masonry-gallery__title{
    color: var(--main-navbar-color);
}

.masonry-gallery__col:nth-child(2) .masonry-gallery__title{
    padding-top: 0.5em;
}

.masonry-gallery__col:nth-child(3) .masonry-gallery__title{
    color: var(--main-navbar-color);
}

/* IDS SERVICES */

.services-slider{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow:hidden;
    padding-bottom: 5em;
}

.services__container{
    color: var(--main-blue-color);
    margin-top: 7rem;
    padding: 0rem 3rem;
}

.services-slider__block-description{
    color: var(--main-blue-color);
    font-size: 3.5rem;
    text-align: center;
    padding: 2.8rem;
}

.services-slider__block img{
    width: 88%;
    display: block;
    margin: 0 auto;
}

.services-slider__block{
    outline: none;
    cursor: pointer;
}

.services-slider .slick-slide {
    margin: 3.75rem ;
}

.services-slider .slick-next:before{
    content: '';
    background-position: top left;
    background-image: url('../img/right.svg');
    background-repeat: no-repeat;
    background-size: 2.6em 2.2em;
    display: block;
    width: 5em;
    height: 3.6em;
    z-index: 1;
}

.services-slider .slick-next{
    top: unset;
    left: unset;
    bottom: 3rem;
    right: 7rem;
}


.services-slider .slick-prev:before{
    content: '';
    background-position: top left;
    background-image: url('../img/left.svg');
    background-repeat: no-repeat;
    background-size: 2.6em 2.2em;
    display: block;
    width: 5em;
    height: 3.6em;
    z-index: 1;
}

.services-slider .slick-prev{
    top: unset;
    left: unset;
    z-index: 999;
    left: 5rem;
    bottom: 3rem;
}

.slick-arrow{
    transition: 0.3s;
}

.slick-arrow.active{
    opacity: 1 !important;
    cursor: pointer !important;
}

.slick-disabled{
    cursor: default;
    opacity: 0;
}

/* SUBSCRIBE SECTION */

.subscribe__span{
    font-size: 6.39em;
    padding-bottom: 0.66em;
    font-family: 'Caveat Regular', sans-serif;
    color: var(--main-light-blue-color);
}

.subscribe__title{
    font-size: 8em;
    text-transform: uppercase;
}

.subscribe__banner{
    margin: 11em 0em 0em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.3em 8em 7em 8em;
    background-color: var(--main-light-blue-color);
    border-radius: 4rem;
}

.subscribe__banner-span{
    font-family: 'Caveat Regular', sans-serif;
    font-size: 6em;
}

.subscribe-btn{
    background-color: var(--main-red-color);
    padding: 0.6em 0em;
    border: solid 0.2rem transparent;
    width: 100%;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 0.2em;
    border-radius: 0.6rem;
}

.subscribe__banner img{
    max-width: 18em;
    height: auto;
}

/* WHAT IDS DO */

.big-letters__row{
    margin-top: 13em;
    display: flex;
    justify-content: space-between;
}

.big-letters__row-block span{
    font-size: 25.8em;
    line-height: 0.77;
}

.big-letters__row-block p{
    font-size: 2.5em;
    line-height: 2em;
    color: var(--main-gray-color);
    padding-left: 0.6em;
}

.big-letters__row-block{
    display: flex;
    padding-right: 0rem;
    align-items: flex-end;
}

.big-letters__row-block:nth-child(1) span{
    color: var(--main-red-color);
}

.big-letters__row-block:nth-child(2) span{
    color: var(--main-yellow-color);
    padding-left: 0.15em;
}

.big-letters__row-block:nth-child(3) span{
    color: var(--main-green-color);
}

.services__row{
    display: flex;
    justify-content: space-between;
    margin: 9.7em 0em;
    flex-wrap: wrap;
}

.services__row div{
    flex: 0 0 24%;
    max-width: 24%;
}

.services__row div:nth-child(1){
    background-color: transparent;
    font-size: 4.5em;
    padding: 0;
    text-transform: uppercase;
    border: none;
    cursor: default;
    color: var(--main-blue-color);
}

.services__row div:nth-child(3), .services__row div:nth-child(7){
    padding: 1.4em 0em 1.4em 2em;
}

.services__row div:nth-child(4), .services__row div:nth-child(8){
    padding: 1.4em 0em 1.4em 1.2em;
}

.services__row div:nth-child(1):hover{
    background-color: transparent;
    color: var(--main-text-color);
}

.services__row div:hover{
    background-color: var(--main-red-color);
    color: #FFF;
}

.services__row div{
    background-color: var(--main-light-gray-color);
    border-radius: 1em;
    color: var(--main-text-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: 2.5em;
    padding: 1.4em 0em 1.4em 2.8em;
    max-width: 390px;
    display: flex;
    align-items: center;
    margin-bottom: 0.6em;
    border: solid 1px rgba(112, 112, 112, 0.3);
}

/* HOW IT WORKS SECTION */

.how-it-works__row{
    display: flex;
    justify-content: space-between;
    margin-top: 4.8em;
}

.how-it-works__row-block__img-container{
    padding: 5.9em 0em 6.7em 0em;
    background-color: #fcfcfc;
    border-radius: 1em;
    border: solid 0.1em rgba(112, 112, 112, 0.45);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: relative;
}

.how-it-works__row-block__img-container:hover{
    background-color: var(--main-red-color);
}

.how-it-works__row-block__img-container:hover:after{
    background-color: var(--main-gray-color);
}

.how-it-works__row-block__img-container img{
    max-height: 17.9em;
    display: block;
    margin: 0 auto;
}

.how-it-works__row-block__img-container:after{
    content: '';
    position: absolute;
    background-color: #f9b813;
    font-size: 5em;
    width: 1.2em;
    height: 1.2em;
    left: 0.5em;
    bottom: -0.60em;
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
}

.how-it-works__row-block__img-container:before{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;
    content: '1';
    font-size: 4.8em;
    z-index: 1;
    color: #FFF;
    left: 0.875em;
    bottom: -0.775em;
}

.how-it-works__row-block:nth-child(1) .how-it-works__row-block__img-container:before{
    content: '1';
}

.how-it-works__row-block:nth-child(2) .how-it-works__row-block__img-container:before{
    content: '2';
}

.how-it-works__row-block:nth-child(3) .how-it-works__row-block__img-container:before{
    content: '3';
}

.how-it-works__row-block:nth-child(4) .how-it-works__row-block__img-container:before{
    content: '4';
}

.how-it-works__row-block:nth-child(5) .how-it-works__row-block__img-container:before{
    content: '5';
}

.how-it-works__row-block:nth-child(6) .how-it-works__row-block__img-container:before{
    content: '6';
}

.how-it-works__row-block:nth-child(7) .how-it-works__row-block__img-container:before{
    content: '7';
}

.how-it-works__row-block:nth-child(8) .how-it-works__row-block__img-container:before{
    content: '8';
}

.how-it-works__row-block p{
    font-size: 2.5em;
    margin: 2.28em 0em 1.05em 0.2em;
}

/* CLIENTS FEEDBACK */

.clients-feedback__decoration-img{
    display: block;
    margin: 0 auto;
    width: 30em;
    padding: 6.5em 0em 3.5em 0em;
}

.client-feedback__slider{
    max-width: 910px;
    margin: 0 auto;
    display: block;
}

.quotes_rotate, .quotes_normal{
    width: 6em;
}

.client-feedback__slider-block{
    outline: none;
    cursor: pointer;
}

.client-feedback__slider-block__description{
    padding: 1.56em 0em 0.56em 2em;
    font-size: 3em;
    line-height: 1.33em;
    color: var(--main-text-color);

}

.client-feedback__slider-block__user{
    display: flex;
    padding-top: 4em;
    justify-content: flex-end;
}

.client-feedback__slider-block__user-info{
    padding-left: 2.4em;
}

.client-feedback__slider-block__user img{
    width: 12em;
    height: auto;
}

.client-feedback__slider-block__user-info__name{
    font-size: 2.9em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.client-feedback__slider-block__user-info__specialty{
    font-style: italic;
    font-size: 2.4em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.client-feedback__slider-block__user-info__company{
    font-size: 2.4em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: var(--main-blue-color);
}

.quotes_rotate{
    transform: rotate(180deg);
}

.quotes_normal{
    display: flex;
    margin-left: auto;
}

.client-feedback__slider{
    outline: none;
}


.client-feedback__slider .slick-next{
    top: unset;
    left: unset;
    bottom: -10rem;
    right: 5rem;
}


.client-feedback__slider .slick-prev:before{
    content: '';
    background-position: top left;
    background-image: url('../img/left.svg');
    background-repeat: no-repeat;
    background-size: 2.6em 2.2em;
    display: block;
    width: 5em;
    height: 3.6em;
    z-index: 1;
}

.client-feedback__slider .slick-prev{
    top: unset;
    left: unset;
    z-index: 999;
    left: -15rem;
    bottom: -8.5rem;
}

.client-feedback__slider .slick-next:before{
    content: '';
    background-position: top left;
    background-image: url('../img/right-red.svg');
    background-repeat: no-repeat;
    background-size: 2.6em 2.2em;
    display: block;
    width: 5em;
    height: 3.6em;
    z-index: 1;
}

.client-feedback__slider .slick-next{
    top: unset;
    left: unset;
    bottom: -8.5rem;
    right: -6.5rem;
}

.services-slider .slick-next:before{
    left: -2em !important;
    position: absolute !important;
}

/* SUBSCRIBE PLANS */

.subscribe-plans__col img{
    max-width: 11em;
}

.subscribe-plans__col{
    display: flex;
    padding-bottom: 4.5em;
}

.subscribe-plans__title{
    font-size: 2.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 0.2em;
}

.subscribe-plans__info{
    font-size: 2.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: auto;
}

.subscribe-plan__info-wrap{
    margin-left: 2em;
}

.subscribe-plans{
    margin-top: 10rem;
}

.subscribe-plans{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscribe-plans__col{
    width: 33%;
}