.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messageTop{
    display: flex;
}
.messageImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; 
}
.messageText{
    font-family: 'Calibri';
    font-size: 12px;
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;

}
.messageBottom{
    font-size: 12px;
    margin: 10px;
}
.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgba(241, 235, 235, 0.945);
    color: black;
}