.sign-up__individual-section .save-btn {
    margin-top: 4rem;
}

.pay-main .auth-copyright{
    padding-top: 2em !important;
}

.pay-step-2 label img{
    max-height: 1.9em;
    width: auto;
}






