.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 70%;
    height: 50%;
    max-width: 500px;
    background-color: antiquewhite;
}

.popup-inner .closeBtn{
    position:absolute;
    top: 20%;
    right: 20%;

}