:root {
  --main-color: #000;
  --main-red-color: #f8333a;
  --main-yellow-color: #fbb811;
  --main-blue-color: #2f93d0;
  --main-green-color: #35a793;
  --main-orange-color: #fbd479;
  --main-navbar-color: #2575c0;
  --main-light-blue-color: #4acaea;
  --main-gray-color: #4c4c4c;
  --main-light-gray-color: #f5f5f5;
  --main-white-color: #ffffff;
}
