.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  
  .featuredQuestion {
    display: inline-block;
    position: relative;
    color:rgb(53, 147, 209);
  }
  
  .featuredQuestion:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 147, 209);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .featuredQuestion:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  